.card{

    box-sizing: border-box;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    
}

.card:hover{



}

.card img{

    height:90px;
    margin-right: 20px;
    border-radius: 50%;

}

.card-content-name{

  
    color: gray;
    font-size: 11px;
    display:flex;
    flex-direction: column;
    flex:1;
    padding: 10px;

    
}

.card-content-title{


  
    color: gray;
    font-size: 11px;
    display:flex;
    flex:1;
    padding: 10px;
}


.card-content-skill{


  
    color: gray;
    font-size: 11px;
    display:flex;
    flex:1;
    padding: 10px;
}

.card-content-description{


  
    color: gray;
    font-size: 11px;
    display:flex;
    flex:1;
    padding: 10px;
}
