.nav{

  float:left;

}

.nav a:link{

  color: white;

}

.nav a:active{

  color: white;

}

/* visited link */
.nav a:visited {
  color: white;
}

/* mouse over link */
.nav a:hover {
  color: white;
}


.search-section{


    background: rgb(102, 204, 255);
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;

    

}

.search-input{

  float: right;
  display: block;
  min-width: 100px;
  height: 25px;
  border-radius: 20px;
  border-width: 0;
  padding: 10px;

  outline: none;

}


